<div id="visorToolsBar">
       <button id="newVisor" class="btn btn-success">
              <i class="glyphicon glyphicon-plus-sign" style="color:#ffffff"></i>
       </button>
       <button class="btn btn-danger deleteVisors" style="margin-right:20px">
              <i class="glyphicon glyphicon-trash" style="color:#ffffff"></i>
       </button>
       <button id="cloneVisor" class="btn btn-default">
              <i class="glyphicon glyphicon glyphicon-duplicate" style="color:#449d44"></i>
       </button>
       <button class="btn btn-default publicateVisors">
              <i class="glyphicon glyphicon-ok-sign" style="color:#449d44"></i>
       </button>
       <button class="btn btn-default unpublicateVisor">
              <i class="glyphicon glyphicon-remove-sign" style="color:#c9302c"></i>
       </button>
</div>
<table id="tableVisors"
       data-show-refresh="true"
       data-search="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-filter="true"
       data-toolbar="#visorsToolsBar"
       data-pagination="true"
       data-resizable="true"
       data-show-columns="true"
       data-show-pagination-switch="true"
       data-side-pagination="client">
</table>