#logo{
    margin-bottom: 7px;
}

#map{
    height: 100%;
}

#logo img{
    height: 12vh;
    width: 100%;
}

#leftBar{
    height: 85vh;
    background-color: lightgray
}

#saveMapButton{
    width: 80%;
}

#cancelMapButton{
    width: 20%;
}

#logout{
    margin-top: 20px;
    text-align: center;
}

#layersTree{
    height: 67vh;
	overflow:auto;
}

#mapContainer{
    padding-top: 2vh;
	height: 87vh;
}

#allTools{
    height: 11.5vh;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eee
}

#fuentesDatos{
	height: 100%;
}

#inputWms{
	margin-top:12px;
}

#wms{
	margin-top:2px;
}

#loadWms{
	margin-top:1px;
}

