#logo{
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

#map{
    height: 100%;
}

#mapContainer{
    min-height: 740px;
    height: 99.5vh;
}

.treeview{
    overflow-y: scroll;
    overflow-x: hidden;
}

#logo img{
    height: 12vh;
    min-height: 14ex;
    width: 100%;
}

#leftBar{
    height: 85vh;
    background-color: lightgray;
    min-height:740px ;
}

#attachMap{
    height: 17vh;
    padding-top: 15px;
    text-align: center;
    min-height: 18ex;
}

#selectMap{
    margin-bottom: 10px;
    /*width:80%;*/
}

#attachMapButton{
    width:80%;
    margin-bottom: 10px;
}

#openModalVisor{
    width:80%;
    overflow:hidden;
}

.separator{
    height: 2px;
    background-color: darkblue;
    margin-top: 5px;
    margin-bot: 5px;
}

#saveVisorButton{
    width: 100%;
}

#logout{
    margin-top: 20px;
    text-align: center;
}

#layersTree{
    height: 41vh;
    min-height: 48px;
}

#baseLayerButton{
    height:4vh;
    min-height: 5ex;
}

#backButton{
    margin-top:2px;
    height:3.8vh;
    min-height: 4.8ex;
}


#baseButton {
    overflow: hidden;
}

#allTools{
    height: 12vh;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    background-color: #eee;
    min-height: 14ex;
}

.functionsBar{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    border-bottom: 4px solid #559FCB;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    height: 50px;
    width:60vw;
    position: absolute;
    top: 250px;
    z-index: 1;
}

.functionsBar .functionContainer{
    /*top: -5px !important;*/
    padding-bottom: 5px;
}

.functionsBar .functionContainer:hover{
    /*top: -5px !important;*/
}

.areaZoom{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/areazoom.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.clickCoordinatesButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/coordinates.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.dataRetrieving{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/retrieveData.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.drawType{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/draw.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.fullScreen{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/fullScreen.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.panTo{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/panTo.png");
    background-repeat:no-repeat;
    background-size: contain;
}


.printMap{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/printMap.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.export{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.zoomInButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/zoomIn.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.zoomOutButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/zoomOut.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.empty{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/empty.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.export{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.configuration{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/configuration.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.help{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/help.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.homeinfo{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/homeinfo.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.lastview{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/lastview.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.mail{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/mail.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.selection{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/selection.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.update{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/update.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.wmsimport{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/wms.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.searchfeatures{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/search.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.legendBar{
    left: 800px;
    z-index: 1;
    /*border: solid 1px black;*/
    /*border-radius:5px;*/
    width:13vw;
    background-color:#CCC;
    opacity:0.9;
    min-height: 25px;
    min-width: 150px;
}

#legendContent{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
}

#titleMap{
    width:100%;
    height:25px;
    background-color:#559FCB;
    text-align:left;
    color:#FFF;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    padding: 0.2em;
}
.titleLayer{
    width: 100%;
    /*height:20px;*/
    overflow:hidden;
    text-align:center;
    /*border: solid 1px blue;*/
    padding: 4px;
}
.imgLayer{
    width: 100%;
    background-color:white;
    overflow:hidden;
    border-radius:4px;
}
span.legend{
    position: relative;
    float:right;
    margin:2px;
}
.icons{
    position:relative;
    float:right;
    margin:2px;
}

.horizontaliconFunctionBar{
    float:left;
    padding-top:0;
    margin-left: -14px;
}

.verticaliconFunctionBar{
    margin-top: -21px;
    float:left;
    padding-top:0;
}

.vertical{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    /*border-right: 4px solid #559FCB;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    width:70px;
    height:46vh;
    padding-left: 0;
    padding-top: 26px;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 1;
    cursor: move;
}

#hideInterface{
    position: absolute;
    top: 4.25em;
    left: 0.6em;
    height: 30px;
    width: 24px;
    z-index: 1;
    background-image: url("../../Common/images/hideInterface-left.png");
}

#wmsImportWindow{
    width:350px;
    position: absolute;
    top: 250px;
    left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.fill {
    width: 100%;
    height: 100%;
}

li.base{
    display: block;
    padding: 5px;
    border: 1px solid #CCC;
    color: orange;
    background: #f5f5f5;
}

#leftBarParent {
    float: left;
    width: 320px;
    margin-right: 10px;
    max-width: 500px;
    min-width: 170px;
}

#toolBarMax {
    overflow: hidden;
    width: auto;
    padding-left: 10px;
    max-height: 1055px;
}

.wrapper {
    float: left;
    width: 100%;
}

.ol-unselectable{
    max-height: 100% !important;
}

.layerName{
    flex: 1 1 auto;
    padding-left: 6px;
    padding-top: 5px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
}

.treeIcons{
    padding-top: 5px;
    flex: 0 0 10px;
}

.node-layersTree{
    display: flex;
    display-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
}
