<div id="mapContainer" class="span12">
        <div id="map" class="map">
            <div id="gmap"></div>
            <div id="olmap" class="fill"></div>
        </div>
        <div class="ol-overlay-container" style="position: absolute; display: none;">
            <div id="areaOverlay"></div>
        </div>
        <div class="ol-overlay-container" style="position: absolute; display: none;">
            <div id="coordinatesOverlay"></div>
        </div>
</div>