<div id="allTools" class="container col-md-12 column">
			<div></div>
            {% for function in functions %}
                <div class="functionContainer col-md-1" style="display: block; margin-top:10px;">
                    {% include "functions/"~function|lower~"_template.html.twig" %}
                </div>
            {% endfor %}
</div>