<div class="legendBar"  style="position: absolute; top: 310px;">
    <div id="titleMap"><label for="legendContent">LEYENDA</label>
        <span class='glyphicon glyphicon-remove removeLegend legend'></span>
        <span class='glyphicon glyphicon-minus hideLegend legend'></span></div>
    <div id="legendContent"></div>
</div>