<!-- Modal Add Toolbars -->
<div id="modalTools" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Añadir elementos al visor</h4>
            </div>
            <div class="modal-body">
                <button id="addToolBar" type="button" class="btn btn-block btn-primary">Añadir Barra de tareas horizontal</button>
                <button id="addVerticalToolBar" type="button" class="btn btn-block btn-primary">Añadir Barra de tareas vertical</button>
                <button id="chooseImage" type="button" class="btn btn-block btn-primary">Seleccionar Escudo del encabezado</button>
                <button id="addTitle" type="button" class="btn btn-block btn-primary">Introducir titulo del visor</button>
                <button id="showLegend" type="button" class="btn btn-block btn-primary">Mostrar Leyenda</button>
            </div>
        </div>
    </div>
</div>

<div id="modalHeaders" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>            
        </div>
    </div>
</div>