<div>

    <div>
        <div id="logo" class="">
            <img src="../../Common/images/cabeceraLogoAsturias.gif">
        </div>
        <div id="leftBar">
            <div id="attachMap">
                <select id="selectMap" class="chosen-select" tabindex="1" ></select>
                <button id="attachMapButton" type="button" class="btn btn-primary">Incrustar Mapa</button>
                <button id="openModalVisor" type="button" class="btn btn-primary">Añadir elementos al visor</button>
            </div>

            <div class="separator"></div>

            <div id="layersTree"></div>
            <div id="baseLayerButton" class="dropup">
                    <button data-toggle="dropdown" class="btn btn-primary btn-block dropdown-toggle" id="baseButton"><span data-label-placement>Seleccione capa base</span> <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="width:100%">
                      <li><button class="btn btn-block" onclick="baseLayer('OSM')">OpenStreetMap</button></li>
                      <li><button class="btn btn-block" onclick="baseLayer('BAL')">Bing Aerial Layer</button></li>
                      <li><button class="btn btn-block" onclick="baseLayer('MQS')">Map Quest Satelite</button></li>
                    </ul>
            </div>
            <div class="btn-group btn-group-justified" role="group">
                <a href="#" id="saveVisorButton" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar Visor</a>
                <a href="#" id="cancelVisorButton" class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-remove"></span>  </a>

            </div>
            <div id="backButton" ><button class="btn btn-primary btn-block" onclick="back()">Volver</button></div>

            <div class="separator"></div>

            <div id="logout">
                <p>Conectado como: <span class="glyphicon glyphicon-user"></span><strong>{{ userName }}</strong></p>
                <a href="#" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </div>
        </div>
    </div>
</div>