
    <div id="map" class="map"></div>
    <div class="ol-overlay-container">
        <div id="areaOverlay"></div>
    </div>
    <div class="ol-overlay-container">
        <div id="coordinatesOverlay"></div>
    </div>

<script type="text/javascript">
    setMapDetails({center: [-424339.90999686107,5372327.873439357], zoom:14});
    createMap();
    map.addControl(new ol.control.ScaleLine());
    console.log(map.getView().getProjection());
</script>