<div id="filterMapsBar">

</div>
<table id="table"
       data-show-refresh="true"
       data-search="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-filter="true"
       data-toolbar="#filterMapsBar"
       data-pagination="true"
       data-resizable="true"
       data-show-columns="true"
       data-show-pagination-switch="true"
       data-side-pagination="client">

</table>