.titleLayer label{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#map{
    min-height: 99%; !important;
}

.visibilityLayer{
    float: left;
    padding-right: 15px;
}

.empty{
    background-image: none; !important;
}

#mapContainer{
    padding-top: 0px; !important;
    padding-bottom: 0px; !important;
    height: 99.9vh;
}

.hugeTransform{
    font-size: 50px;
}


.leftSidePrintModal{
    vertical-align: top;
}

.leftSidePrintModal h3{
    text-align: left; !important;
}


.leftSideCheckbox{
    margin-top: 23px; !important;
}

#previewCanvas{
    border: 1px solid black;
    height: 100%;
}

#previewCanvas iframe{
    height: 100%;
    width: 100%;
}


.rightSidePrintModal{
    overflow-x: auto;
}

#printModal{
    width: 100%;
    height: 100%;
}

.verticalPrintSeparator div {
    background-color: #000000;
    height: 100%;
    width: 5px;
    border-radius: 2px;
    margin-left: 80%;
}

.horizontalPrintSeparator{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
    background-color: #000000
}

#printModal .modal-content{
    width: 70%;
    height: 95%;
}

#printModal .modal-header .modal-footer{
    height: 10%;
}

#printModal .modal-body {
    height: 87%;
}

/* The div inside modal-body is the key; there's where we put the content (which may need the vertical scrollbar) */
.leftSidePrintModal, .rightSidePrintModal, .verticalPrintSeparator {
    height: 100%;
    overflow-y: auto;
    text-align: center;
}

#printModalButton{
    height: 35px;
    width: 90px;
}

#reportDownload{
    float: right;
    margin-right: 10px;
}

#cancelPrintButton{
    float: right;
}


.invisibleFullScreenButton{
    display: none;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}


.legendBar{
    position: absolute;
    top: 650px;
    left: 600px;
    z-index: 1;
    /*border: solid 1px black;
    border-radius:5px;*/
    width:13vw;
    background-color:#CCC;
    opacity:0.9;

    min-width: 150px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#legendContent{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
    display: inline;
    cursor: move;
}

#titleMap{
    width:100%;
    height: 25px;
    background-color:#559FCB;
    text-align:left;
    color:#FFF;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
    padding: 0.2em;
    cursor: move;
}
.titleLayer{
    width: 100%;
    /*height:20px;*/
    overflow:hidden;
    text-align:center;
    /*border: solid 1px #559FCB;*/
    overflow-x: hidden;
    font-size: 0.8em;
    padding: 4px;
    height: 25px;
    text-transform: uppercase;
}
.imgLayer{
    width: 100%;
    background-color:white;
    overflow:hidden;
    border-radius:4px;
}

.logo-visor {
    float: left;
    position: absolute;
    left: 0;
}

.functionsBar{

    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    border-bottom: 4px solid #559FCB;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    height: 50px;
    width:80%;
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 1;
    cursor: move;
}

.vertical{
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.9);
    /*border-right: 4px solid #559FCB;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);

    width:70px;
    height:46vh;
    padding-left: 0;
    padding-top: 26px;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 1;
    cursor: move;
}

#headerVisor{
    width:550px;
    position: absolute;
    height: 75px;
    right: 10px;
    bottom: 10px;
}

.imagenFooterVisor {

    width: 550px;
    overflow: hidden;
    position: absolute;


    /*position: fixed;*/
    top:20px;
    /*right: 10px;
    bottom: 10px;*/
    background-color: white;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    padding: 0.2em;
}
.imagenFooterVisor img {
    /*transform: scale(0.9);*/
}

.visorName {
    /*position: fixed;*/
    position: absolute;
    width: 550px;
    text-align: left;
    z-index: 2;
    /*right: 10px;
    bottom: 65px;*/
    text-transform: uppercase;
    font-weight: bold;
    cursor:move;
    background-color: rgba(255,255,255,0.6);
    padding: 2px 8px;
}

.functionsBar .functionContainer{
    /*top: -5px !important;*/
    float: left;
    padding-bottom: 5px;
}

.functionsBar .functionContainer:hover{
    /*top: -5px !important;*/
}


.areaZoom{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/areazoom.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.clickCoordinatesButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/coordinates.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.dataRetrieving{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/retrieveData.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.drawType{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/draw.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.fullScreen{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/fullScreen.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.panTo{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/panTo.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}


.printMap{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/printMap.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.export{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.zoomInButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/zoomIn.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
    opacity: 0.8;
}

.zoomOutButton{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/zoomOut.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}

.empty{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/empty.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.export{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.configuration{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/configuration.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.help{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/help.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.homeinfo{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/homeinfo.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.lastview{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/lastview.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.mail{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/mail.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.selection{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/selection.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.update{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/update.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.searchfeatures{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image:url("../templates/images/search.png");
    background-repeat:no-repeat;
    background-size: contain;
}

#hideInterface{
    position: absolute;
    top: 4.25em;
    left: 0.6em;
    height: 30px;
    width: 24px;
    z-index: 1;
    background-image: url("../../Common/images/hideInterface-left.png");
}





#areaOverlay, #coordinatesOverlay{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
}


#wmsImportWindow{
    width:350px;
    position: absolute;
    top: 250px;
    left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#searchWindow{
    width:350px;
    position: absolute;
    top: 550px;
    left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#drawModalWindow{
    width:350px;
    position: fixed;
    bottom: 100px;
    right: 10px;


    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.attachedFiles{
    padding-left: 10px;
    margin-bottom: 15px;
}

.fileSquare{
    float: left;
    margin-right: 10px;
    height: 160px;
    width: 100px;
    background-color: #dcdcdc;
    text-overflow: ellipsis;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 3px solid #000000;
}

.fileSquare:hover{
    border: 3px solid orange;
}

.fileSquare img{
    width: 100%;
}

.fileLink{
    text-align: center;

    padding-right: 6px;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;

}

.fileLink a{
    vertical-align: bottom;
}

#toolsDraggable{
    position: absolute;
    top: 6.85em;
    left: 0.6em;
    height: 24px;
    width: 24px;
    z-index: 1;
    border:solid 2px red;
    background-image: url("../templates/images/fixTools.png");
    background-repeat:no-repeat;
    background-size: contain;
    opacity: 0.8;
    cursor:pointer;
}
#layersTreeWrapper{
    position: absolute;
    top:  250px;
    left: 600px;
    z-index: 1;
    /*border: solid 1px black;
    border-radius:5px;*/
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    width:13vw;
    background-color:#CCC;
    opacity:0.9;
    /*height: 100px;*/
    width: 270px;
    /*min-height: 25px;
    height: 200px;*/
    overflow-y: hidden;
    overflow-x: hidden;
}

#layersTree{
    height: 100%;
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}

/*#layersTree .ui-resizable-s{
    height: 10px;
}*/

.list-group-item {
    vertical-align: middle;
    line-height: 1.5em;
    padding: 0px 0px; !important;
    border: 0px;
}

.check-icon{
    padding-bottom: 3px;
}
.expand-icon{
    padding-left: 5px;
    padding-bottom: 3px;
}


.legendBar{
    visibility: hidden; !important
}

#drawType{
    width: 100%;
    margin-bottom: 2px;
}
#distancesTaken{
    padding-left: 10px;
}

#distancesTaken li{
    list-style: none;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 1.5em;
    vertical-align: middle;
}

li .removeFeature{
    opacity: 0.6;
    float: right;
    color: #000;
    font-size: 18px;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
}

.featureColor{
    height: 15px;
    width: 15px;
    float:left;
    margin-right: 10px;
    margin-top: 3px;
    margin-left: 5px;
}

.featureSelected{
    background-color: lightblue;
}

.mapName{
    flex: 1 1 auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.visorTreeIcons{
    flex: 0 0 40px;
    margin-right: 5px;
    text-align: right;
}
.nodeLine{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


.layerTab{
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
}

table{
    display: inline-block;
    white-space: nowrap;
    margin-right: 20px;
    line-height: 1.8em;
    border: 2px solid #000000;
    border-collapse: collapse;
}

td, th{
    padding-top: 1px;
    padding-bottom: 1px;
}

thead{
    display: inline-block;
    white-space: nowrap;
}

tbody{
    display: inline-block;
    white-space: nowrap;
}

thead th {
    text-align: center;
    font-weight: bold;
    max-width: 50%;
    min-width: 150px;
}

thead th{
    display: block;
}

tr{
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

tbody td {
    min-width: 150px;
    display: block;
    padding-left: 5px;
}

tbody tr{
    padding-left: 10px;
    border-left: 1px solid black;
}

#eielModal .modal-dialog{
    width: 600px;
}
.hideLayers{
    z-index: 1;
    cursor:pointer; 
}

.removeLayers{
    z-index: 1;
    cursor:pointer;
}

#hideInterface{
    z-index: 1;
    cursor:pointer;
}

.ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgba(100,150,0,1);
}