.titleLayer label{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#map{
    min-height: 99%; !important;
}

.visibilityLayer{
    float: left;
    padding-right: 15px;
}

.empty{
    background-image: none; !important;
}

#mapContainer{
    padding-top: 0px; !important;
    padding-bottom: 0px; !important;
    height: 99.9vh;
}

.hugeTransform{
    font-size: 50px;
}


.leftSidePrintModal{
    vertical-align: top;
}

.leftSidePrintModal h3{
    text-align: left; !important;
}


.leftSideCheckbox{
    margin-top: 23px; !important;
}

#previewCanvas{
    border: 1px solid black;
    height: 100%;
}

#previewCanvas iframe{
    height: 100%;
    width: 100%;
}


.rightSidePrintModal{
    overflow-x: auto;
}

#printModal{
    width: 100%;
    height: 100%;
}

.verticalPrintSeparator div {
    background-color: #000000;
    height: 100%;
    width: 5px;
    border-radius: 2px;
    margin-left: 80%;
}

.horizontalPrintSeparator{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
    background-color: #000000
}

#printModal .modal-content{
    width: 70%;
    height: 95%;
}

#printModal .modal-header .modal-footer{
    height: 10%;
}

#printModal .modal-body {
    height: 87%;
}

/* The div inside modal-body is the key; there's where we put the content (which may need the vertical scrollbar) */
.leftSidePrintModal, .rightSidePrintModal, .verticalPrintSeparator {
    height: 100%;
    overflow-y: auto;
    text-align: center;
}


.invisibleFullScreenButton{
    display: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
}


.legendBar{
    position: absolute;
    top: 650px;
    left: 600px;
    z-index: 1;
    border: solid 1px black;
    border-radius:5px;
    width:13vw;
    background-color:#CCC;
    opacity:0.9;

    min-width: 150px;
}

#legendContent{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 150px;
}

#titleMap{
    width:100%;
    height:25px;
    border-bottom:solid 1px black;
    border-radius:2px;
    background-color:#2C31ED;
    text-align:center;

    color:#FFF;
}
.titleLayer{
    width: 100%;
    height:20px;
    overflow:hidden;
    text-align:center;
    border: solid 1px blue;
    overflow-x: hidden;
}
.imgLayer{
    width: 100%;
    background-color:white;
    overflow:hidden;
    border-radius:4px;
}


.functionsBar{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bdf3fd+0,a2daf5+45,a2daf5+68,90bcea+76,90bae4+100,a9d2f3+100,b8e1fc+100 */
    background: #bdf3fd; /* Old browsers */
    background: -moz-linear-gradient(top,  #bdf3fd 0%, #a2daf5 45%, #a2daf5 68%, #90bcea 76%, #90bae4 100%, #a9d2f3 100%, #b8e1fc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdf3fd), color-stop(45%,#a2daf5), color-stop(68%,#a2daf5), color-stop(76%,#90bcea), color-stop(100%,#90bae4), color-stop(100%,#a9d2f3), color-stop(100%,#b8e1fc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bdf3fd 0%,#a2daf5 45%,#a2daf5 68%,#90bcea 76%,#90bae4 100%,#a9d2f3 100%,#b8e1fc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bdf3fd 0%,#a2daf5 45%,#a2daf5 68%,#90bcea 76%,#90bae4 100%,#a9d2f3 100%,#b8e1fc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bdf3fd 0%,#a2daf5 45%,#a2daf5 68%,#90bcea 76%,#90bae4 100%,#a9d2f3 100%,#b8e1fc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bdf3fd 0%,#a2daf5 45%,#a2daf5 68%,#90bcea 76%,#90bae4 100%,#a9d2f3 100%,#b8e1fc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf3fd', endColorstr='#b8e1fc',GradientType=0 ); /* IE6-9 */


    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 50px;
    width:60vw;
    background-color:beige;
    position: absolute;
    top: 250px;
    left: 250px;
    z-index: 1;
}

.functionsBar .functionContainer{
    /*top: -5px !important;*/
    padding-bottom: 5px;
}

.functionsBar .functionContainer:hover{
    top: -5px !important;
}


.areaZoom{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/areazoom.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.clickCoordinatesButton{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/coordinates.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.dataRetrieving{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/retrieveData.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.drawType{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/draw.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.fullScreen{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/fullScreen.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.panTo{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/panTo.png");
    background-repeat:no-repeat;
    background-size: contain;
}


.printMap{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/printMap.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.export{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.zoomInButton{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/zoomIn.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.zoomOutButton{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/zoomOut.png");
    background-repeat:no-repeat;
    background-size: contain;
}

.empty{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/empty.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.export{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/export.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.configuration{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/configuration.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.help{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/help.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.homeinfo{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/homeinfo.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.lastview{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/lastview.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.mail{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/mail.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.selection{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/selection.png");
    background-repeat:no-repeat;
    background-size: contain;
}
.update{
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-image:url("../templates/images/update.png");
    background-repeat:no-repeat;
    background-size: contain;
}

#hideInterface{
    position: absolute;
    top: 4.25em;
    left: 0.6em;
    height: 30px;
    width: 24px;
    z-index: 1;
    background-image: url("../../Common/images/hideInterface-left.png");
}


#areaOverlay, #coordinatesOverlay{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 10px;
}


#wmsImportWindow{
    width:350px;
    position: absolute;
    top: 250px;
    left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

#drawModalWindow{
    width:350px;
    position: absolute;
    top: 250px;
    left: 50px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}