.titleLayer label{
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.visibilityLayer{
    float: left;
    padding-right: 15px;
}

.empty{
    background-image: none; !important;
}

#mapContainer{
    padding-top: 0px; !important;
}

.hugeTransform{
    font-size: 50px;
}


.leftSidePrintModal{
    vertical-align: top;
}

.leftSidePrintModal h3{
    text-align: left; !important;
}


.leftSideCheckbox{
    margin-top: 23px; !important;
}

#previewCanvas{
    border: 1px solid black;
    height: 100%;
}

#previewCanvas iframe{
    height: 100%;
    width: 100%;
}


.rightSidePrintModal{
    overflow-x: auto;
}

#printModal{
    width: 100%;
    height: 100%;
}

.verticalPrintSeparator div {
    background-color: #000000;
    height: 100%;
    width: 5px;
    border-radius: 2px;
    margin-left: 80%;
}

.horizontalPrintSeparator{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 5px;
    background-color: #000000
}

#printModal .modal-content{
    width: 70%;
    height: 95%;
}

#printModal .modal-header .modal-footer{
    height: 10%;
}

#printModal .modal-body {
    height: 87%;
}

/* The div inside modal-body is the key; there's where we put the content (which may need the vertical scrollbar) */
.leftSidePrintModal, .rightSidePrintModal, .verticalPrintSeparator {
    height: 100%;
    overflow-y: auto;
    text-align: center;
}