<form name="loginForm" onsubmit="return false" id="loginForm" class="box login">
    <fieldset class="boxBody">
        <label>Iniciar sesión</label>
        <input name="userName" type="text" tabindex="1" placeholder="Usuario" required />
        <input name="password" type="password" tabindex="2" placeholder="Contraseña" required />
    </fieldset>
    <footer>
        <input type="submit" class="btnLogin" value="Iniciar sesión" tabindex="4">
    </footer>
</form>
