<div class="panel-heading" role="tab">
    <h4 class="panel-title">
        <p>Conectado como: <span class="glyphicon glyphicon-user"></span><strong id="userName"></strong></p>
        <a href="#" class="btnLogout btn btn-lg btn-warning"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        <div hidden id=entityId"></div>
    </h4>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% include "mapAccordionSection.html.twig" %}
    {% include "visorAccordionSection.html.twig" %}
</div>