<div class="panel-heading" role="tab">
    <h4 class="panel-title">
        <p>Conectado como: <span class="glyphicon glyphicon-user"></span><strong id="userName"></strong></p>
        <a href="#" class="btnLogout btn btn-lg btn-warning"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
        <div hidden id=userEntityId"></div>
    </h4>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% include "mapAccordionSection.html.twig" %}
    {% include "visorAccordionSection.html.twig" %}
	<div class="panel panel-default">
		<div class="panel-heading" role="tab">
			<a>
				<div id="version">
					<h4 class="panel-title">
						Version.
					</h4>
				</div>
			</a>
		</div>
	</div>
</div>