<div id="mapsToolsBar">
<<<<<<< HEAD
       <button class="btn btn-danger deleteMaps">
              <i class="glyphicon glyphicon-trash" style="color:#ffffff"></i>
       </button>
       <button id="newMap" class="btn btn-default">
              <i class="glyphicon glyphicon-plus-sign" style="color:green"></i>
=======
       <button id="newMap" class="btn btn-success">
              <i class="glyphicon glyphicon-plus-sign" style="color:#ffffff"></i>
       </button>
       <button class="btn btn-danger deleteMaps" style="margin-right:20px">
              <i class="glyphicon glyphicon-trash" style="color:#ffffff"></i>
       </button>
       <button id="cloneMap" class="btn btn-default">
              <i class="glyphicon glyphicon glyphicon-duplicate" style="color:#449d44"></i>
       </button>
       <button class="btn btn-default publicateMaps">
              <i class="glyphicon glyphicon-ok-sign" style="color:#449d44"></i>
       </button>
       <button class="btn btn-default unpublicateMaps">
              <i class="glyphicon glyphicon-remove-sign" style="color:#c9302c"></i>
>>>>>>> 04d14dffc2e79ec43ba250c936359274ca287bd1
       </button>
</div>
<table id="table"
       data-show-refresh="true"
       data-search="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-filter="true"
       data-toolbar="#mapsToolsBar"
       data-pagination="true"
       data-resizable="true"
       data-show-columns="true"
       data-show-pagination-switch="true"
       data-side-pagination="client">
</table>