<!DOCTYPE HTML>
<html>
<head>
    <title>Mapas creados</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-3.3.4/css/bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../../Common/bootstrap-table/src/bootstrap-table.css" type="text/css">

    <script src="../../Common/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../Common/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../Common/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="../../Common/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="../../Common/bootstrap-table/src/locale/bootstrap-table-es-SP.js"></script>
    <script src="../../Common/bootstrap-table/src/extensions/export/jsPDF.js"></script>
    <script src="../../Common/bootstrap-table/src/extensions/export/jspdf.plugin.autotable.js"></script>
    <script src="../../Common/bootstrap-table/src/extensions/export/tableExport.jquery.plugin.js"></script>
    <script src="../../Common/bootstrap-table/src/extensions/export/bootstrap-table-export.js"></script>

    <script src="../../GeneradorDeMapas/js/configuration.js"></script>

    <script src="../js/tableGenerator.js"></script>

</head>

<body>


{% include "accordion.html.twig" %}

<div id="modalNewMap" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear nuevo mapa</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="newMapName"/>
            </div>
            <div class="modal-footer">
                <button type="button" id="createMapModal" class="btn btn-success" data-dismiss="modal">Seguir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modalNewVisor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear nuevo visor</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="newVisorName"/>
            </div>
            <div class="modal-footer">
                <button type="button" id="createVisorModal" class="btn btn-success" data-dismiss="modal">Seguir</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>