<div id="visorsToolsBar">
       <button class="btn btn-danger">
              <i class="glyphicon glyphicon-trash" style="color:#ffffff"></i>
       </button>
</div>
<table id="table2"
       data-show-refresh="true"
       data-search="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-filter="true"
       data-toolbar="#visorsToolsBar"
       data-pagination="true"
       data-resizable="true"
       data-show-columns="true"
       data-show-pagination-switch="true"
       data-side-pagination="client">

</table>