<div class="function drawType" title="Medir distancia/área"></div>
{#
<select id="drawType" class="function" data="draw">
    <option value="length">Length</option>
    <option value="area">Area</option>
</select>#}
