<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html lang="es">
<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>Generador de Mapas</title>
    <link href="../../Common/images/favicon-96x96.png" rel="icon" sizes="96x96">
    <link href="../../Common/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../Common/css/fileinput.min.css" rel="stylesheet" media="screen">

    <link href="../css/creadorMapas.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='../../Common/css/ol.css'>
    <link rel='stylesheet' href='../../Common/css/chosen.css'>
    <link href="../../Common/pace/themes/blue/pace-theme-loading-bar.css" rel="stylesheet" />

    {% include "scriptsImport.html.twig" %}

</head>
<body>

    {% include "leftBar.html.twig" %}

    {% include "mapSection.html.twig" %}

    {% include "modal.twig" %}
    
</body>
<script>
    var loadedBaselayer = "{{ baselayer }}";
    var mapName = "{{ mapName }}";
	var entityId= "{{ entityId }}"
</script>
</html>
