<!DOCTYPE html>
<html lang="es">
<head>
    <title>Generador de Mapas</title>
    <link href="../../Common/images/favicon-96x96.png" rel="icon" sizes="96x96">
    <link href="../../Common/bootstrap-3.3.4/css/bootstrap.css" rel="stylesheet" media="screen">

    <link href="../css/creadorMapas.css" rel="stylesheet" media="screen">
    <link rel='stylesheet' href='../../Common/css/ol.css'>
    <link rel='stylesheet' href='../../Common/css/chosen.css'>
    <link href="../../Common/pace/themes/blue/pace-theme-loading-bar.css" rel="stylesheet" />

    {% include "scriptsImport.html.twig" %}

</head>
<body>

    {% include "leftBar.html.twig" %}

    {% include "mapSection.html.twig" %}

    {% include "modalAttributes.twig" %}
    
</body>
</html>