<div id="menucapas" class="col-xs-3">
    <div>
        <div>
            <div id="logo" class="">
                <img src="../../Common/images/cabeceraLogoAsturias.gif">
            </div>
            <div id="leftBar">
                <div id="mapName">
                    <!-- Trigger the modal with a button -->
                    <button id="editWmsButton" type="button" class="btn btn-info btn-block" onclick="appendModalWms()"></button>
                </div>
                <div id="layersList">
                    <ol class="simple_with_animation vertical">
                    </ol>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <a href="#" id="saveMapButton" class="btn btn-lg btn-success" onclick="confirmSaveMap()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar Mapa</a>
                    <a href="#" id="cancelMapButton" class="btn btn-lg btn-danger" onclick="confirmCleanMap()"><span class="glyphicon glyphicon-remove"></span>  </a>
                </div>
                <div class="separator"></div>
                <div id="logout">
                    <p>Conectado como: <span class="glyphicon glyphicon-user"></span><strong id="userName"></strong></p>
                    <a href="#" class="btn btn-lg btn-warning"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>