<div id="contenido" class="col-xs-10">
    <div class="row clearfix">
        <div id="allTools" class="col-xs-12 column">
            <div class="col-xs-2" id="fuentesDatos">
            </div>
            <div class="col-xs-10" id="selector">
            </div>
        </div>
        <div id="mapContainer">
            <div id="progress" class="progress"></div>
            <div id="map" class="map">
                <div id="gmap"></div>
                <div id="olmap" class="fill"></div>
            </div>
        </div>
    </div>
</div>